@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

body, p, li, td, .navbar, .sidebar {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

div.quarto-post .metadata {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Keep code in its default/monospace font */
code, pre, kbd, samp {
  font-family: monospace;
}

.navbar {
  background-color: #bf3115!important;
}
.navbar-brand, .navbar-nav .nav-link {
  color: #fce5e1!important;
  font-weight: bold;/* or whatever contrasts well */
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: #FFFFFF !important;
  font-weight: bold;
}

code:not(pre code) {
  color: #2c5a9e!important;
}

.sidebar nav[role="doc-toc"] ul > li > a:hover,
.sidebar nav[role="doc-toc"] ul > li > ul > li > a:hover {
  color: #bf3115 !important;
  border-left: 1px solid #bf3115;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid #bf3115;
    color: #bf3115 !important;
}
