@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

body, p, li, td, .navbar, .sidebar {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

div.quarto-post .metadata {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Keep code in its default/monospace font */
code, pre, kbd, samp {
  font-family: monospace;
}

.navbar {
  background-color: #fc4503!important;
}
.navbar-brand, .navbar-nav .nav-link {
  color: #FFFFFF !important; /* or whatever contrasts well */
}

code:not(pre code) {
  color: #d43a02 !important;
}

.sidebar nav[role="doc-toc"] ul > li > a:hover,
.sidebar nav[role="doc-toc"] ul > li > ul > li > a:hover {
  color: #fc4503 !important;
  border-left: 1px solid #fc4503;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid #fc4503;
    color: #fc4503 !important;
}
